body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 236, 240);
    font-family: sans-serif;
}

.loginbox {
    width: 350px;
    height: 420px;
    background:white;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius:50px;
    
    
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    position: absolute;
    top: -75px;
    left: 29%
}

h1 {
    margin: 0;
    padding: 0 0 20 px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 18px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: lightblue;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: lightblue;
}
.c{
    color:black;
    font-size:50px;
}
.bg{
    background-image:url("image.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-repeat:no-repeat;

    
}
.a1{
    text-transform: uppercase;
    text-align: center;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     green   77%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-emphasis-color:transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
   font-size: 50px;
   font-weight: 200;
   margin-top:20px;
   margin-left:25px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }